<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }}</title>
    {% include header.html %}
    {% seo %}
    {% if site.google_analytics and jekyll.environment == 'production' %}
    {% include analytics.html %}
    {% endif %}
  </head>
  <body>

    {% include nav.html %}
    <div class="container">
      <img src="{{ site.baseurl }}/assets/img/grunge.png" alt="" class="line">
      <p class="center author">{{ site.author }}</p>
      <img src="{{ site.baseurl }}/assets/img/grunge.png" alt="" class="line flip">
      <h1 class="brand title center" id="type">{{ site.title | upcase }}</h1>
      <h5 class="center">{{ site.description | markdownify }}</h5>
      <img src="{{ site.baseurl }}/assets/img/grunge.png" alt="" class="line tag flip">
      <p class="right tagline">{{ site.tagline }}</p>
      <img src="{{ site.baseurl }}/assets/img/grunge.png" alt="" class="line tag">
      <div class="center">
        <br>
        <h4 class="space">{{ site.location | upcase }}</h4>
        {% if site.date == true %}<h5>{{ site.time | date_to_long_string | upcase }}</h5>{% endif %}
        <br>
      </div>
      {% include articles.html %}
    </div>

    {% include foot.html %}

  </body>
</html>
